@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.NavBar{
    width: 100%;
    height: 10vh;
    background-color: #04AA6D;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    /* box-shadow: 5px 5px 10px 6px rgba(0, 0, 0, 0.5); */
}

.title{
    position: relative;
    top: 25%;
    left: 5%;
    padding-bottom: 10px;
    color: #fff;
    font-size: 21px;
    font-weight: 650;
    text-decoration: none;
}
