@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.error{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 250px;
    font-size: 25px;
    font-weight: 600;
}